#
# openLilyLib/ph-lib configuration
#

name: phlib
display-name: phlib
short-description: Piaras Hoban lilypond tools
description: <
  Tools and functions for making my scores
  >
modules: [
  fingerings
  symbols
  stylesheets
  extensions
  ]
oll-core: 0.5.0
maintainers: [
  Piaras Hoban <piaras.hoban@gmail.com>
  ]
version: 1.0.0-alpha.0
license: GPL3
website: 
repository: 
