#
# openLilyLib/ph-lib configuration
#

name: phlib
display-name: phlib
short-description: Piaras Hoban lilypond tools
description: <
  Tools and functions for making my scores
  >
modules: [
  fingerings
  symbols
  stylesheet
  extensions
  microtones
  ]
oll-core: 0.5.0
maintainers: [
  Piaras Hoban <piaras.hoban@gmail.com>
  ]
version: 0.9.0
license: GPL3
website: https://github.com/phoban01/phlib
repository: https://github.com/phoban01/phlib.git
